    body,
    html,
    div,
    ul,
    li,
    img,
    a,
    span,
    h2,
    h3,
    h1 {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: url('task-images/initial.png');
        background-repeat: no-repeat;
        font-size: 16px;
    }
    
    #wrapper {
        width: 960px;
        padding: 20px 22px;
    }
    
    #wrapper>div {
        border: 2px solid gray;
        width: 138px;
        margin-left: -2px;
        float: left;
        height: 250px;
        margin-left: -2px;
        padding: 5px;
    }
    
    #wrapper>div hgroup {
        padding: 0px 0px 0px 38px
    }
    
    #wrapper>div>p {
        margin-top: 12px;
    }
    
    #wrapper>div hgroup h2 {
        padding-top: 6px;
        font-size: 1.06rem;}
    
    #wrapper>div hgroup h3 {
        padding-top: 6px;
        font-size: 1.06rem;
    }
    
    #wrapper>div:nth-child(2n) {
        height: 270px;
    }
    
    #wrapper a {
        color: red;
        text-decoration: none;
        display: block;
    }
    
    #wrapper a span {
        text-transform: uppercase;
    }