table {
    font-family: arial, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    width: 456px;
    height: 133px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #57b807;
    color: #ffffff;
    font-weight: normal;
}

tr:nth-child(odd) {
    background-color: #ebebd8;
}